/* ------------------------------- GENERAL --------------------------------- */

html {
    background-color: #f0f3f8;
}

body {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 16px);
}

h1 {
    font-size: 2rem;
    color: black;
    margin: 0;
}

h1, h2 {
    font-family: "Vujahday Script", cursive;
}

a {
    text-decoration: none;
    margin: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
}

a > h2 {
    font-size: 1.5rem;
}

/* ----------------------------- HEADER ----------------------------- */

#logo {
    height: 100px;
}

.center {
    text-align: center;
}

header, footer {
    background-color: #78c2ff;
    width: 100%;
}

header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
}

/* --------------------------- HEADER RESPONSIVENESS ------------------------------- */

.narrow-nav {
    display: none;
}

.fa-bars {
    font-size: 2rem;
    margin: 0.5rem;
}

.toggled-nav {
    display: none;
}

#nav-expander {
    display: none;
    margin-left: 10px;
}

.text-cart {
    display: none;
}

.full-nav {
    padding: 1rem;
    border-radius: 0.5rem;
}

.full-nav:hover, .full-nav:active {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

@media (max-width: 600px) {
    body {
        margin: 0;
    }

    nav {
        flex-direction: row-reverse;
    }

    #nav-expander {
        display: block;
    }

    .full-nav {
        display: none;
    }
    
    .narrow-nav {
        display: block;
    }

    #icon-cart {
        display: none;
    }

    .logo-text {
        display: none;
    }

    .expanded-menu {
        display: block;
        font-size: 2rem;
    }

    .expanded-menu:hover, .expanded-menu:focus {
        background-color: rgb(61, 155, 233);
    }
}

/* -------------------- FOOTER ---------------------- */

footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    align-items: center;
}

footer > p, footer > div {
    margin: 1em;
    width: 11rem;
}

.footer-about {
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.footer-link {
    margin: 5px;
}

.footer-link-ph {
    font-size: 0.75rem;
    padding: 0.25rem;
}

.footer-link:hover, .footer-link:focus, .footer-icon-link:hover > .footer-link, .footer-link-ph:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.footer-icon-link {
    background: none;
    margin: 0;
}

.fa-brands {
    background: none !important;
}

/* ----------------------------- MODAL ----------------------------------- */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #78c2ff;
    margin: 15% auto;
    width: 75%;
    padding: 20px;
    text-align: center;
    border-radius: 0.5rem;
    border: 3px solid rgb(6, 83, 146);
}

.modal-header {
    font-size: 2.5rem;   
}

.modal-text {
    font-size: 1.5rem;
}

.close-modal {
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.close-modal:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

/* --------------------------- OPEN MODAL ------------------------------ */

.open-modal {
    margin: 0.5rem auto;
    font-size: 0.75rem;
    background: rgb(120,194,255);
    background: linear-gradient(180deg, rgba(120,194,255,1) 0%, rgb(61, 155, 233) 100%);
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.open-modal:hover {
    background: rgb(61, 155, 233);
    background: linear-gradient(0deg, rgba(120,194,255,1) 0%, rgb(61, 155, 233) 100%);
    box-shadow: 0px -2px 10px 2px rgba(0,0,0,0.25);
    cursor: pointer;
}

/* --------------------------- FORM ------------------------------------ */

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border: 5px groove rgb(61, 155, 233);
    border-radius: 0.5rem;
}

form > label, form > button {
    margin: 0.5rem auto ;
    width: fit-content;
}

/* --------------------------- MAIN CONTENT ---------------------------------- */

main {
    flex: 1;
    text-align: center;
}

.main-browse {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 1rem auto;
    width: 50%;
    background: rgb(120,194,255);
    background: linear-gradient(180deg, rgba(120,194,255,1) 0%, rgb(61, 155, 233) 100%);
    box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.25);
}

.main-browse:hover {
    background: rgb(61, 155, 233);
    background: linear-gradient(0deg, rgba(120,194,255,1) 0%, rgb(61, 155, 233) 100%);
    box-shadow: 0px -3px 10px 3px rgba(0,0,0,0.25);
}

.card {
    margin: 3rem auto;
    background-color: #eef1c1;
    border: 1px solid black;
    border-radius: 1rem;
}

.card > p {
    margin: 1rem;
}

img {
    width: 90%;
    border-radius: 1rem;
}

/* --------------------------- FEATURED PRODUCT ---------------------------------- */

#product-card {
    width: 60%;
    max-width: 1000px;
}

.card-button-container {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
}

.card-button {
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    height: fit-content;
}

.card-button > a {
    font-size: 1rem;
}

.add-to-cart {
    margin: 1rem;
    height: 4rem;
    width: 10rem;
    font-size: 1.5rem;
}

.card-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.card-button:hover > a {
    color: white;
}

/* ------------------------------- ABOUT US PAGE ------------------------------- */

.info-card {
    width: 75%;
    max-width: 1200px;
}

.stock-attribution {
    font-size: 0.75rem;
    color: revert;
    text-decoration: revert;
}

.contact-phone {
    text-decoration: underline;
}

#open-contact-modal {
    font-size: 1rem;
    margin: 1rem
}